
@using TimerToysTwo.Model

<div class="my-timer">


    <table class="node-table">
        <tr>
            <td class="node-expand-td">
                <button class="node-expand-button @HotOrNotClass" @onclick="ToggleExpand">@MyTimer.ChildCount</button>
            </td>
            <td class="node-text-td" @onclick="OnSelect">
                <span class="node-elapsed-span">
                    (@ElapsedTimeString)
                </span>
                <span class="node-name-span">
                    @MyTimer.TimerName
                </span>
            </td>
        </tr>
    </table>

    <div style="margin-left:15px; display: @IsExpandedStyle;">
        @{

            if (MyChildTimers == null)
            {
            }
            else
            {
                foreach (Timer child in MyChildTimers.OrderBy(c => c.CreationTime))
                {
                    <Node @ref="MyChildNodes[child.TimerKey]" MyTimer="@child"></Node>
                }
            }
        }
    </div>

</div>

@code {
}
