
<h1>@SelectedTimerName</h1>
<h2>@SelectedElapsedTime</h2>

<button @onclick="ToggleTimer" disabled="@(Global.SelectedTimer.ChildCount > 0)">Toggle Timer</button>
<button @onclick="UpdateName">UpdateName</button>


