
<h1>@SelectedTimerName</h1>
<h2>@SelectedElapsedTime</h2>

<button @onclick="ToggleTimer" disabled="@(Global.SelectedTimer.ChildCount > 0)">Toggle Timer</button>
<button @onclick="UpdateName">UpdateName</button>

@code {

    [Parameter]
    public EventCallback OnNameChange { get; set; }

    private string SelectedTimerName
    {
        get
        {
            if (Global.SelectedTimer is null) return "";
            else return Global.SelectedTimer.TimerName;
        }
    }

    private string SelectedElapsedTime
    {
        get
        {
            if (Global.SelectedTimer is null) return "";
            else return Global.StringifyTime();
        }
    }

    private string SavedTime = "";

    public void Tick()
    {
        if (SavedTime != SelectedElapsedTime)
        {
            StateHasChanged();
            SavedTime = SelectedElapsedTime;
        }
    }

    public void UpdateDisplay()
    {
        StateHasChanged();
    }

    private void ToggleTimer()
    {
        Global.SelectedTimer.IsRunning = !Global.SelectedTimer.IsRunning;
    }

    private void UpdateName()
    {
        Global.SelectedTimer.TimerName = "Dave Is Cool!";
        StateHasChanged();
        OnNameChange.InvokeAsync();
    }



}
