

html, body {
    position: relative;
    font-family: monospace;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}




.main-table {
    border-collapse: collapse;
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
}

.main-table-tr1 {
}

.main-table-tr1-td1{
    background-color: maroon;
    color: white;
    font-size: 28px;
    border: none;
    padding: 10px;
}

.main-table-tr2 {
    height: 100%;
}

.main-table-left {
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 2px solid maroon;
    height: 100%;
}

.main-table-right {
    width:100%;
    vertical-align: top;
    padding-left: 10px;
}
/*----------------------------------------------------------------------------------------------*
    NODE SECTION
------------------------------------------------------------------------------------------------*/

.my-timer {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 16px;
}


.node-table {
    border: none;
    border-collapse: collapse;
    /*width:400px;*/
    cursor: default;
}

    .node-table:hover {
        font-weight: bold;
    }

.node-expand-td {
    text-align:left;
    width:20px;
}

.node-expand-button {
    border: 1px solid maroon;
}


.node-text-td {
    text-align:left;
    color: maroon;
    white-space:nowrap;
}

.node-elapsed-span {
}

.node-name-span {
}

.hot {
    background-color: maroon;
    color: white;
    cursor: pointer;
}

.not {
    color: maroon;
    background-color: white;
}

/*----------------------------------------------------------------------------------------------*
   SELECTED NODE SECTION
------------------------------------------------------------------------------------------------*/


.donate {
    background-color: white;
    color: maroon;
    border: solid 2px maroon;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    width: 75px;
    text-align: center;
    display: block;
    clear: both;
    text-decoration: none;
}
