

html, body {
    position: relative;
    font-family: monospace;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    background-color: maroon;
    color: white;
    font-size: 28px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.loading-message {
    margin-top: 20px;
    margin-left: 20px;
}

.my-timer {
    margin-left: 15px;
    font-size: 20px;
    line-height: 30px;
}

.node-wrapper {
    margin-top: 20px;
}

.node-wrapper span {
        display: table-cell;
        vertical-align: middle;
    }

.span-spacer{
    padding-left:5px;
}

.expand {
    color: maroon;
    cursor: pointer;
    border: 1px solid maroon;
}

    .expand:hover {
        background-color: maroon;
        color: white;
    }

.no-expand {
    background-color: white;
    color: silver;
    border: 1px solid silver;
}

.elapsed-time {
    background-color: white;
    color: maroon;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

    .elapsed-time:hover {
        background-color: maroon;
        color: white;
    }

.node-name-input {
    /*display: inline-block;*/
    padding: 5px;
    color: maroon;
    border: none;
    width: 500px;
    font-size: 18px;
}

    .node-name-input:focus {
    }

    .node-name-input:hover {
        background-color: maroon;
        color: white;
    }

.controls-container {
    margin-left: 35px;
    color: maroon;
}

.controls-container table{
    border-collapse:collapse;
}

    .controls-container td {
        text-align: center;
        padding-left: 2px;
        padding-right: 2px;
    }

td button {
    cursor: pointer;
    border: 1px solid maroon;
    color: maroon;
    background-color: white;
    width: 100%;
    padding: 5px;
}

    td button:hover {
        font-weight: bold;
        color: white;
        background-color: maroon;
    }

    td button:disabled {
        color: silver;
        background-color: whitesmoke;
        border:1px solid silver;
    }

/* Material Icons */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}
